.popup{
    position: fixed;
    top:100px;
    left: 0px;
    width:100vw;
    height: 100vw;
    background: rgba(0,0,0,0.7);
    z-index: 1;
}

.popup .content {
    position: absolute;
    top: 50%;
    left: 50%
}
