body{
    font-family:'Courier New', Courier, monospace;
    margin: 0;
}

.container{
    width: 900px;
    max-width: 90vw;
    margin: auto;
    text-align: center;
    position: fixed;
   
    
}

.container h1{
    left: 70%;
    top: 5%;
    position: fixed;

}

.container ul li{
    left: 70%;
    top: 5%;
    position: fixed;

}

svg{
    width: 30px;
    left: 90%;
    top:1.5%;
    position: fixed;
}



header .icon-cart span{
    display: flex;
    width: 30px;
    height: 30px;
    background-color: red;
    justify-content: center;
    align-items: center;
    color:#fff;
    border-radius: 50%;
    position: fixed;
    top: 4%;
    right: 2px;
}

.cartTab{
    width: 300px;
    background-color: #35343200;
    color: #eee;
    position: fixed;
    inset: 0 0 0 auto;
    left: 80%;

}

body .showCart .cartTab{
    inset: 0 0 0 auto;
}

body.showCart

.cartTab .listCart .item img{
    width: 100%;
}

.cartTab .listCart .item{
    align-items: center;
}

.listCart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    color: #555;
    border-radius: 50%;
}

.listCart{
    overflow: auto;
}

.listCart::-webkit-scrollbar{
    width: 0;
}






