* {
  margin: 0;
  padding: 0;
  font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
  color: #1b1b1b;
  overflow: hidden;
}

div#info-text {
  position: relative;
  justify-content: center;
  font-size: 18px;
  height: 0;
  top: 36px;
  z-index: 1;
  margin: 0px 48px;
  text-align: center;
}

div#info-text p {
  margin-bottom: 16px;
}
